<div class="container fps-services"> 
    <div class="row-fluid">    
             <div class="span3">
                <div class="service-box">
          <div class="entry-content">
          <span class="service-icon"><i class="icon ion-ios7-people-outline"></i></span> 
          <h3><a href="http://themes.wpeden.com/luminus/?page_id=140">About Us</a></h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.          </div>
        </div>  
        </div>
        
             <div class="span3">
                <div class="service-box">
          <div class="entry-content">
          <span class="service-icon"><i class="icon  ion-ios7-gear-outline"></i></span> 
          <h3><a href="http://themes.wpeden.com/luminus/?page_id=123">Services</a></h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit          </div>
        </div>  
        </div>
        
             <div class="span3">
                <div class="service-box">
          <div class="entry-content">
          <span class="service-icon"><i class="icon  ion-ios7-paperplane-outline"></i></span> 
          <h3><a href="http://themes.wpeden.com/luminus/?page_id=125">Testimonials</a></h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit          </div>
        </div>  
        </div>
        
             <div class="span3">
                <div class="service-box">
          <div class="entry-content">
          <span class="service-icon"><i class="icon  ion-ios7-keypad-outline"></i></span> 
          <h3><a href="http://themes.wpeden.com/luminus/?page_id=132">Clients</a></h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit          </div>
        </div>  
        </div>
        
          
    </div>
</div>