<style type="text/css">    
    .infobox {
        width: 200px;
    }
</style>
<div>
    <div id="divuserGridsterProgress">
    </div>
    <div class="gridster" id="divAttendanceGridster">
        <ul style="list-style-type: none; height: 225px; position: relative;">
            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w">
                <div class="infobox infobox-red infobox-dark">
                                      
                    <div class="infobox-data">
                        <span class="infobox-data-number" style="cursor: pointer;" id="spnDeviation_Count" data-deviation ="[]" onclick="OnDeviationGridSterClick();">0</span>
                        <div class="infobox-content">
                            Deviated</div><div style="color: #333; font-size: 10px;">(avg)</div>
                    </div>
                </div>
            </li>
            <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" class="gs-w">
                <div class="infobox infobox-green infobox-dark"> 
                                     
                    <div class="infobox-data">
                        <span class="infobox-data-number" style="cursor: pointer;" id="spnOvertime_Count" data-overtime ="[]" onclick="OnOvertimeGridSterClick();">0</span>
                        <div class="infobox-content">
                            Overtime</div><div style="color: #333; font-size: 10px;">(avg)</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>



<script type="text/javascript">
    function attendanceGridster() {        
        $("#divoverOrDeviatedTimeGrid").hide();
        $("#divAttendanceGridster").show();
        $(".gridster ul").gridster({
            widget_margins: [0, 5],
            widget_base_dimensions: [210, 65]
        });
        setTimeout(function () { Dashboard_LoadAttendance(); }, 0);

        $.Topic('AttendanceCount').subscribe(PopulateAttendanceGridster);


    }

    function Dashboard_LoadAttendance() {
        var myargs = {};
        var request = {};

        request.sort = [];
        var obj = {};
        obj.AttendanceDate = {};
        obj.AttendanceDate['order'] = "asc";
        request.sort.push(obj);

        request.query = {};
        request.query.filtered = {};

        var filtered = {};
        filtered.filter = {};
        filtered.filter.range = {};
        filtered.filter.range.AttendanceDate = {};
        filtered.filter.range.AttendanceDate['gte'] = moment("07/06/2014").format("MM/DD/YYYY");
        filtered.filter.range.AttendanceDate['lte'] = moment("07/12/2014").format("MM/DD/YYYY");
        request.query.filtered = filtered;

        request.aggs = {};
        request.aggs.Employee = {};

        var obj = {};
        obj.terms = {};
        obj.terms.order = {};
        obj.terms['field'] = "EmpId";
        obj.terms['size'] = 999999;
        obj.terms.order['Duration.avg'] = "desc";
        request.aggs.Employee['terms'] = obj.terms;

        var obj1 = {};
        obj1.aggs = {};
        obj1.aggs.Duration = {};
        obj1.aggs.Duration.stats = {};
        obj1.aggs.Duration.stats['field'] = "Duration";
        request.aggs.Employee['aggs'] = obj1.aggs;


        myargs.Criteria = request;

        setTimeout(function () {
            var params = JSON.stringify(myargs.Criteria);
            var promiseQueryList = $.ajax({ url: 'http://ashoka.vmokshagroup.com:9200/' + 'strobe_dev_attendence/_search?size=20',
                data: params, type: 'POST'
            });

            //callback success
            promiseQueryList.done(function (data) {
                
                var employeeResult = [];
                _.each(data.aggregations.Employee.buckets, function (employee) {
                    employee.key = employee.key;
                    employee.avgDuration = (employee.Duration.avg / 3600000);
                    employeeResult.push(employee);
                });

                var filteredovertime = _.filter(employeeResult, function (item) { return item.avgDuration > 9 });

                var filteredDeviatedtime = _.filter(employeeResult, function (item) { return item.avgDuration < 8 });
                $.Topic('AttendanceCount').publish(filteredovertime, filteredDeviatedtime);


            });

            //callback failure
            promiseQueryList.fail(function (data) {
            });
        }, 10); //End of setTimeout 
    }

    function PopulateAttendanceGridster(overtime, deviatedtime) {
       
        $("#spnOvertime_Count").text(overtime.length);
        $("#spnOvertime_Count").data('overtime', overtime);

        $("#spnDeviation_Count").text(deviatedtime.length);
        $("#spnDeviation_Count").data('deviation', deviatedtime);
    }

    function OnOvertimeGridSterClick() {      
        $.Topic('OnOvertimeGridSterClick').publish($("#spnOvertime_Count").data('overtime'), "overtime");
    }

    function OnDeviationGridSterClick()
    {
        $.Topic('OnDeviatedGridSterClick').publish($("#spnDeviation_Count").data('deviation'), "deviated");
    }
    addLoadEvent(attendanceGridster);
</script>