<div class="box widget">
	<h3>Recent Posts</h3>
	<ul>	
		<li>
			<a href="http://themes.wpeden.com/luminus/?p=110" title="Ergo opifex plus sibi proponet ad formarum quam civis factorum?">Ergo opifex plus sibi proponet ad formarum quam civis factorum?</a>
		</li>
		<li>
			<a href="http://themes.wpeden.com/luminus/?p=107" title="Quae si potest singula consolando levare, universa quo modo sustinebit?">Quae si potest singula consolando levare, universa quo modo sustinebit?</a>
		</li>
		<li>
			<a href="http://themes.wpeden.com/luminus/?p=105" title="Quae si potest singula consolando levare, universa quo modo sustinebit?">Quae si potest singula consolando levare, universa quo modo sustinebit?</a>
		</li>
		<li>
			<a href="http://themes.wpeden.com/luminus/?p=102" title="Atque haec ita iustitiae propria sunt sint virtutum reliquarum communia">Atque haec ita iustitiae propria sunt sint virtutum reliquarum communia</a>
		</li>
	</ul>
</div>