<div class="container">
    <ul class="breadcrumb">
      <li><a href="#">Administration</a> <span class="divider">/</span></li> 
      <li class="active">Case Study</li>
    </ul>
</div>

<script type="text/javascript">
    console.log("Breadcrumb");
    function Breadcrumb() {
               
    }
    addLoadEvent(Breadcrumb);
</script>
