<div class="row">
    <!-- Modal for change password starts -->
    <div  class="modal fade"  tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="modalChangePasswordLabel" aria-hidden="false" id="modalChangePassword">
     <div class="modal-dialog" style="width: 400px">
      <div class="modal-content">
         <form id="frmChangePassword" class="validate" action="#" style="margin-bottom:0px">
               <div class="error validate">
               </div>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="modalChangePasswordLabel">Change Password</h3>
              </div>
              <div class="modal-body">
                  <div id="modalChangePasswordBody" class="modalChangePasswordBody validate">
                      <div class="row">
                          <div class="col-md-12">
                             <div class="form-group">
                               <label class="control-label label-bold" for="txtCurrentPassword">Current Password</label>
                                <input type="password" class="required span12 form-control" id="txtCurrentPassword" name="txtCurrentPassword" placeholder="Current Password">
                             </div>
                         </div>
                        </div>
                      <div class="row">
                          <div class="col-md-12">
                             <div class="form-group">
                               <label class="control-label label-bold" for="txtNewPassword">New Password</label>
                                <input type="password" class="required span12 pwd-cmp form-control" id="txtNewPassword" name="txtNewPassword" placeholder="New Password">
                             </div>
                         </div>
                        </div>
                      <div class="row">
                          <div class="col-md-12">
                             <div class="form-group">
                               <label class="control-label label-bold" for="txtConfirmPassword">Confirm Password</label>
                                <input type="password" class="required span12 pwd-confirm-cmp form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm Password">
                             </div>
                         </div>
                        </div>


                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnChangePassword">Change</button>
              </div>
           </form>
        </div>
        </div>  
    </div>
   <!-- Modal for Change password stops -->
</div>

<script type="text/javascript">
    function ChangePasswordInitialize() {
        //Listener for Change Password  event published
        $.Topic('ChangePasswordClickHandler').subscribe(ChangePasswordForm_Show);
        //validation for send click
        FormValidation();
        $.Topic(vm_ui_events.FormSubmitClick + "_frmChangePassword").subscribe(PerformChangePassword);
    }
    //Function to Show the Forgot Email popup and reset 
    function ChangePasswordForm_Show() {
        ResetControls("modalChangePassword");
        //Reset Form
        ResetForm("frmChangePassword");
        $("#btnChangePassword").removeAttr("disabled");
        //Show the modal popup
        $('#modalChangePassword').modal('show');
        return false;
    }
    function PerformChangePassword(){
        $.Topic("ModalAction").publish({ "body": "modalChangePasswordBody", "footer": "modal-footer", "state": "Initiated" });
        var request = {};
        request.currentPassword = $("#txtCurrentPassword").val();
        request.newPassword = $("#txtNewPassword").val();
        request.confirmPassword = $("#txtConfirmPassword").val();
        setTimeout(function () {
            var promiseChangePassword = $.ajax({ url: location.origin + '/employee/changePassword', data: request, type: 'POST' });
            promiseChangePassword.done(function (data) {
                $('#modalChangePassword').modal('hide');
                $.Topic("ModalAction").publish({ "body": "modalChangePasswordBody", "footer": "modal-footer", "state": (data.status) ? "CompletedSuccess" : "CompletedFailure" });
                noty({ "text": data.message, "layout": "top", "type": (data.status) ? "success" : "error" });
            });
            promiseChangePassword.fail(function (data) {
                $("#btnChangePassword").removeAttr("disabled");
                $.Topic("ModalAction").publish({ "body": "modalChangePasswordBody", "footer": "modal-footer", "state": "CompletedFailure", "message": (data.message) });
               
            });
        }, 100); //End of setTimeout
    }
    addLoadEvent(ChangePasswordInitialize);
</script>
