<%- console.log(title)%>
<div class="row">
    <!-- Modal for forgot password starts -->
    <div  class="modal fade"  tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="modalForgotPasswordLabel" aria-hidden="false" id="modalForgotPassword">
     <div class="modal-dialog" style="width: 400px">
      <div class="modal-content">
         <form id="frmForgotPassword" class="validate" action="#" style="margin-bottom:0px">
               <div class="error validate">
               </div>
              <div class="modal-header vm-noty-placeholder">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="modalForgotPasswordLabel">Forgot Password?</h3>
              </div>
              <div class="modal-body">
                  <div id="modalForgotPasswordBody" class="modalForgotPasswordBody validate">
                      <div class="row">
                          <div class="col-md-12">
                             <div class="form-group">
                               <label class="control-label label-bold" for="txtForgotPasswordEmail">Email</label>
                                <input type="text" class="form-control required email" id="txtForgotPasswordEmail" name="txtForgotPasswordEmail" placeholder="Email">
                             </div>
                         </div>
                        </div>

                      <div class="hide" id="div_ForgotPassword_BodyContent"></div>

                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSendForgotPassword">Send</button>
              </div>
           </form>
          </div>
         </div>
    </div>
   <!-- Modal for forgot password stops -->
</div>
<script id="tpl-forgot-email" type="text/x-jquery-tmpl">
     <div class="table-condensed">
            <div>Dear ${name}</div></br>
            <div>You have requested that we email your password to ${email}</div></br>
            <div>Your Password is ${password}</div>
            <div>Thanks & regards,</div>
            <div>Strobe Customer Care</div>
            <div>[***This is an system generated email, please do not reply to this email id.***]</div>    
    </div>
</script>



<script type="text/javascript">
    function ForgotPasswordInitialize() {
        //Listener for Forgot  event published
        $.Topic('ForgotPasswordClick').subscribe(ForgotPasswrdForm_Show);
        //validation for send click
        FormValidation();
        $.Topic(vm_ui_events.FormSubmitClick + "_frmForgotPassword").subscribe(ForgotPasswrdForm_Sendpassword);
    }
    //Function to Show the Forgot Email popup and reset 
    function ForgotPasswrdForm_Show() {
        ResetControls("modalForgotPassword");
        //Reset Form
        ResetForm("frmForgotPassword");
        $("#btnSendForgotPassword").removeAttr("disabled");
        //Show the modal popup
        $('#modalForgotPassword').modal('show');
        return false;
    }

    //Function to get the employee with the email and send notification
    function ForgotPasswrdForm_Sendpassword() {
        $.Topic("ModalAction").publish({ "body": "modalForgotPasswordBody", "footer": "modal-footer", "state": "Initiated" });
        var request = {};
        request.email = $("#txtForgotPasswordEmail").val();
        setTimeout(function () {
            var promiseEmployeeDetails = $.ajax({ url: location.origin + '/employee/forgotPassword', data: request, type: 'POST' });
            promiseEmployeeDetails.done(function (data) {
                $('#modalForgotPassword').modal('hide');
                $.Topic("ModalAction").publish({ "body": "modalForgotPasswordBody", "footer": "modal-footer", "state": (data.status) ? "CompletedSuccess" : "CompletedFailure" });
                noty({ "text": data.message, "layout": "top", "type": (data.status) ? "success" : "error" });
            });
            promiseEmployeeDetails.fail(function (data) {
                debugger;
                $("#btnSendForgotPassword").removeAttr("disabled");
                var response = JSON.parse(data.responseText);
                $.Topic("ModalAction").publish({ "body": "modalForgotPasswordBody", "footer": "modal-footer", "state": "CompletedFailure", "message": (response.message) });
                //$('#modalForgotPassword').modal('hide');
                //noty({ "text": response.message, "layout": "top", "type": "error" });
            });
        }, 100); //End of setTimeout
    }
    addLoadEvent(ForgotPasswordInitialize);
</script>
