<%- console.log(title)%>
<div class="row-fluid">
    <!-- Modal for forgot password starts -->
    <div  class="modal hide fade" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="modalForgotPasswordLabel" aria-hidden="false" id="modalForgotPassword">
         <form id="frmForgotPassword" class="validate" action="#" style="margin-bottom:0px">
               <div class="error validate">
               </div>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="modalForgotPasswordLabel">Forgot Password?</h3>
              </div>
              <div class="modal-body">
                  <div id="modalForgotPasswordBody" class="modalForgotPasswordBody validate">
                      <div class="row-fluid">
                          <div class="span12">
                           <label class="control-label label-bold" for="txtForgotPasswordEmail">Email</label>
                            <input type="text" class="required email" id="txtForgotPasswordEmail" name="txtForgotPasswordEmail" placeholder="Email">
                         </div>
                        </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSendForgotPassword">Send</button>
              </div>
           </form>
    </div>
   <!-- Modal for forgot password stops -->
</div>

<script type="text/javascript">
    function ForgotPasswordInitialize() {
        debugger;
        //Listener for Forgot  event published
        $.Topic('ForgotPasswordClick').subscribe(ForgotPasswrdForm_Show);
        //validation for send click
        //FormValidation();
        //$.Topic(vm_ui_events.FormSubmitClick + "_frmForgotPassword").subscribe(ForgotPasswrdForm_Sendpassword);
    }

    function ForgotPasswrdForm_Show() {  //Clear all textbox values    
        ResetControls("modalForgotPassword");
        //Reset Form
        ResetForm("frmForgotPassword");
        //Show the modal popup
        $('#modalForgotPassword').modal('show');
        return false;
    }

    addLoadEvent(ForgotPasswordInitialize);
</script>
