
<div class="navbar-wrapper">
    <div class="container top-nav">
        <div class="row-fluid">
             <div class="span3 pull-left">
            <a class="brand" href="/">
                <img src="/linker/img/logo/Strobe-Logo-03.png" title="Strobe" alt="Strobe">
            </a>
            </div>
            <div class="span9">   
            <div class="navbar vm-protected">
                <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav" id="navMenu">                       
                       
                    </ul>
                </div><!--/.nav-collapse -->
                </div><!-- /.navbar-inner -->
            </div><!-- /.navbar -->
            </div>
           
        </div>
    </div>
</div>
<script type="text/javascript">
    console.log("Navbar");
    var userinfo = {};
    console.log("userinfo as global variable");
    function hignLightMenu() {
        //capture the location in the url 
        //find the anchor element with href equal to this name
        //find out the parent ul and li for thos nachor and add the class
        //Get_UserInfoFromLocalStorage();
        var allmenus = [
            { 'name': 'Dashboard', 'url': '/dashboard' },
            { 'name': 'Administration', 'url': '#',
                'menus': [
                     { 'name': 'Department', 'url': '/department' }
                    , { 'name': 'Role', 'url': '/role' }
                    , { 'name': 'Location', 'url': '#' }
                    ]
            }];
        var buildmenu = '';
        $.each(allmenus, function (index, menu) {
            debugger;
            if (menu.menus != undefined) {
                buildmenu += '<li class="menu-item dropdown"><a href="' + menu.url + '" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">' + menu.name + '<b class="caret"></b></a>';
                buildmenu += '<ul class="dropdown-menu" role="menu">';
                $.each(menu.menus, function (i, submenus) {
                    buildmenu += '<li class="menu-item" id="' + submenus.name + '"><a href="' + submenus.url + '">' + submenus.name + '</a></li>';
                });
                buildmenu += '</ul></li>';
            }
            else if (menu.menus == undefined) {
                buildmenu += '<li class="menu-item" id="' + menu.name + '"><a href="' + menu.url + '">' + menu.name + '</a></li>';
            }
        });
        $('#navMenu').append(buildmenu);
        debugger;
        $('a[href$="' + location.pathname + '"]').closest('li').addClass('active-menu');
        $('a[href$="' + location.pathname + '"]').closest('ul').closest('li').addClass('active-menu');
    }
    addLoadEvent(hignLightMenu);
</script>
