<div class="box widget">		
    <h3>Highlights</h3> 
    </div>   
<ul>
    <li>Lord Voldemort</li>
    <li>Albus Dumbledore</li>
    <li>Harry Potter</li>
    <ul>
        <li>Lord Voldemort</li>
        <li>Albus Dumbledore</li>
        <li>Harry Potter</li>
    </ul>
    <li>Ron Weasley</li>
    <li>Severus Snape</li>
    </ul>
