<div id="scrollDivOverDeviatedTime" class="pr10" style="border-width: 1px;  border-style: solid; border-color: #ddd; ">
<table class="table table-condensed" >   
   <thead>
       <tr>
           <th style=" text-align: left;">Id</th>
           <th style=" text-align: left;">Name</th>
           <th style=" text-align: center;">Range </th>
           <th id="thoverOrDeviated" style=" text-align: right;"></th>
           <th></th>
       </tr>
   </thead>
    <tbody id="attendOverTimeView">
    </tbody>       
</table>
    </div>
<script id="tpl-attendOvertime-list" type="text/x-jquery-tmpl">
    <tr>
    <td style="text-align:left;"><a href="#" data-id="${id}" data-action="view">${empid} &nbsp;</a></td>
    <td style="text-align:left;"><a href="#" data-id="${id}" data-action="view">${empname} &nbsp;</a></td>
    <td style="text-align:center;"><a href="#" data-id="${id}" data-action="view">${range} &nbsp;</a></td>
    <td style="text-align:right;"><a href="#" data-id="${id}" data-action="view">${avgoverOrdeviatedtime} &nbsp;</a></td>         
    </tr>
    
</script>

<script type="text/javascript">
    function overtimeOrDeviationLoad() {
        $.Topic('OnOvertimeGridSterClick').subscribe(BindOvertimeOrDeviatedGrid);
        $.Topic('OnDeviatedGridSterClick').subscribe(BindOvertimeOrDeviatedGrid);
        $('#scrollDivOverDeviatedTime').slimscroll({
            height: '230px',
            width: '740px'
        });
    }

    function BindOvertimeOrDeviatedGrid(args, action) {
        var overorDeviatedtimeresult = [];
        _.each(args, function (item) {
            item.empid = item.key;
            item.empname = item.employeename;
            item.range = moment(Date()).subtract( 'months', 1 ).startOf('month').format("ddd, DD-MMM-YYYY") + " - " 
                         + moment(Date()).subtract( 'months', 1 ).endOf('month').format("ddd, DD-MMM-YYYY");
            item.avgoverOrdeviatedtime = item.avgDuration.toFixed(2);
            overorDeviatedtimeresult.push(item);
        });
        (action == "overtime") ? $("#thoverOrDeviated").text("Over Time") : $("#thoverOrDeviated").text("Deviated Time");
        $("#divoverOrDeviatedTimeGrid").show();
        $("#attendOverTimeView").empty();
        $("#tpl-attendOvertime-list").tmpl(overorDeviatedtimeresult).appendTo("#attendOverTimeView");

    }
    addLoadEvent(overtimeOrDeviationLoad);
</script>
