<form id="frmSearchEmployeeAttendance" class="validate" action="#" style="margin-bottom: 0px">
<div class="error validate">
</div>
<div class="box widget">
    <h3><i class="fa fa-sort-amount-desc vm-fa-white"></i>&nbsp;Search</h3>
</div>
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label label-bold" for="cboEmployeeAttendance">
                    Employee</label>
                <div class="controls">
                    <%- partial('../partials/master-combo-single', {'fnPrefix' : 'EmployeeAttendance','api':'/Employee','ph':
                    'Employee','validation': 'required', 'optCodeProp':'empNo'})%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="control-label label-bold">
                View By</label></div>
    </div>
    <div class="row">
         <div class="form-group">
        <div class="col-md-6">
            <input id="radio_button_week" type="radio" name="search" value="Week">Week</div>
        <div class="col-md-6">
            <input id="radio_button_month" type="radio" name="search" value="Month" checked="checked">Month</div>
         </div>
    </div>
    <div>
        &nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="txtsearchAttendanceDate">
                    Month & Year</label>
                <div class="input-group date" date-start-view="1">
                    <input id="txtsearchAttendanceDate" name="txtsearchAttendanceDate" 
                                class="form-control vm-month vm-group nonEditable required" type="text" placeholder="mm/yyyy" />
                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divWeek">
        <div class="col-md-12">
            <table class="table table-condensed" id="attendance_WeeklySearch">
            </table>
        </div>
    </div>
    <div class="row hide">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-danger" id="btnAttendanceSearch">
                Search</button>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</form>


<script id="tpl-attendanceSearch-list" type="text/x-jquery-tmpl">
    <tr>
    <td>
    <i class="${icon}"></i><span class="${weekColor}">${weekCode}</span>
    <a class ='View' href='#' id="${weekId}">${weekValue}</a>
    </td>   
    </tr>    
</script>
<script type="text/javascript">
    function SearchAttendance_Load() {
        $.Topic(vm_ui_events.FormSubmitClick + "_frmSearchEmployeeAttendance").subscribe(SearchEmployeeAttendance);
        //For Date plugin to display only month
        $('.vm-month').datepicker({ format: "mm/yyyy", viewMode: 1, minViewMode: 1 });
        $("#cboEmployeeAttendance").change(function () {
            $("#txtsearchAttendanceDate").val("");
            $("#divattendanceDetails,#divGageTitle,#divAttendanceJustGage,#divAttendanceGrid,#divWeek,#divWidgets").hide();
        });
        $('input[type="radio"]').on("click", function () {
            $("#txtsearchAttendanceDate").val("");
            $("#divattendanceDetails,#divGageTitle,#divAttendanceJustGage,#divAttendanceGrid,#divWeek,#divWidgets").hide();
        });
        $("#txtsearchAttendanceDate").on('changeDate', function (e) {
            $(this).blur();
            $(this).datepicker('hide');
            $("#frmSearchEmployeeAttendance").submit();
        });

        $.Topic("week-list-row-click").subscribe(Week_list_RowClick);
    }
    function SearchEmployeeAttendance() {
        if ($('#radio_button_month').is(':checked')) {
            $("#divAttendanceGrid").show();
            var args = {};
            var monthselected = moment($("#txtsearchAttendanceDate").val().split('/')[0] + "-01-" + $("#txtsearchAttendanceDate").val().split('/')[1]).format("DD-MMM-YYYY");
            args.monthselected = monthselected;
            args.monthStart = moment(monthselected).startOf('month').format("DD-MMM-YYYY")
            args.monthEnd = moment(monthselected).endOf('month').format("DD-MMM-YYYY")
            args.action = "monthly";
            args.maxhrs = 180;
            if ($("#txtsearchAttendanceDate").val() != "") {
                $.Topic("Attendance_Details_Monthly").publish(args);
            }
        }
        else {
            $("#divAttendanceGrid").show();
            $("#divWeek").show();
            Search_AttendanceDate();
        }
    }
    function Search_AttendanceDate() {
        //Empty the existing data source
        data = [];
        //get the user entered year
        var selDate = $("#txtsearchAttendanceDate").val();
        //if date selected is empty, set year as current year
        if (selDate == "") {
            //get the current date
            var d = new Date();
            //get the current year
            selYear = d.getFullYear();
            //get the current month
            selMonth = d.getMonth();
        } else {
            //get the selected year
            selYear = selDate.split("/")[1];
            //get the selected month
            selMonth = selDate.split("/")[0] - 1;
        }
        //get the weeks based on year
        var data = GetWeeksBasedOnMonthAndYear(selYear, selMonth);
        //Bind the data to the datatable depending on the criteria
        //Format of setTimeout is (functionname,delay,parameters if any)  
        setTimeout(Search_AttendanceDate_BindData, 0, data);
        return false;
    }
    function Search_AttendanceDate_BindData(data) {
        var details = [];
        _.each(data, function (item) {
            var data = {};
            data.weekCode = item[0];
            data.weekValue = item[1];
            data.weekId = item[2];
            //data.weekStartToEnd = moment(item[3]).format('DD/MM/YYYY') + "-" + moment(item[4]).format('DD/MM/YYYY');
            switch (item[0]) {
                case "W1":
                    data.icon = "fa fa-calendar icon-large attendance-green";
                    data.weekColor = "attendance-green";
                    break;
                case "W2":
                    data.icon = "fa fa-calendar icon-large attendance-red";
                    data.weekColor = "attendance-red";
                    break;
                case "W3":
                    data.icon = "fa fa-calendar icon-large attendance-blue";
                    data.weekColor = "attendance-blue";
                    break;
                case "W4":
                    data.icon = "fa fa-calendar icon-large attendance-yellow";
                    data.weekColor = "attendance-yellow";
                    break;
                default:
                    data.icon = "fa fa-calendar icon-large attendance-pink";
                    data.weekColor = "attendance-pink";
                    break;
            }
            details.push(data);
        });
        //before appending the template empty it
        $("#attendance_WeeklySearch").empty();
        $("#tpl-attendanceSearch-list").tmpl(details).appendTo("#attendance_WeeklySearch");
        //Attach event handlers                    
        $("#attendance_WeeklySearch").on("click", 'a', function () {
            //$("#frmSearchEmployeeAttendance").submit();   
            var args = {};
            args.weekStartToEnd = ($(this)[0].text.split('-'));
            args.action = "weekly";
            args.maxhrs = 45;
            $.Topic("week-list-row-click").publish(args);
            //if ($("#txtsearchAttendanceDate").val() != "") {
            //$.Topic("Attendance_Details_Weekly").publish(args);
            //}
        });
    }

    function Week_list_RowClick(args) {
        //$("#frmSearchEmployeeAttendance").submit();
        if ($("#txtsearchAttendanceDate").val() != "") {
            $.Topic("Attendance_Details_Weekly").publish(args);
        }
    }
    addLoadEvent(SearchAttendance_Load);
</script>