<div class="row-fluid">
    <div class="span3 well">
        <div class="row-fluid">
           
        </div>
    </div>
    <div class="span9 well"></div>
</div>
<script type="text/javascript">    
    console.log("Casestudy");
    function Casestudy() {
        //alert("Casestudy");
    }
    addLoadEvent(Casestudy);
</script>