<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9"></div>
</div>
<div class="row">
           <div class="col-md-12">
                <%- partial('../partials/attendanceGridster', {'title': 'AttendanceGridster','fnPrefix' : 'attendanceGridster'})%>     
            </div>
        </div>
<script type="text/javascript"> 
    function Dashboard() {
    }
    addLoadEvent(Dashboard);
</script>