<div class="row">
     <div class="col-md-3">
            <%- partial('../partials/master-list', {'title': 'Employees','fnPrefix' : 'EmployeeList','api':'/employee','limit': '5'})%>
      
    </div>
    <div class="col-md-6"> 
            <%- partial('employee-details', {'title': 'Employee Details','api':'/employee'})%>
        
    </div>
</div>
<div>&nbsp;</div>

<div class="row">
    <%- partial('employee-form', {'title': 'Add Employee','fnPrefix' : 'Employee','api':'/employee'})%>
</div>
<script type="text/javascript">
    console.log("Employees");
    function Employees() {
      
    }
    addLoadEvent(Employees);
</script>