h3 .fa {margin-top: 5px;}
.vm-fa-white {color: white}
.vm-fa-blue {color: #0026ff}
.vm-fa-orange{color: #ff6a00}
.vm-fa-red {color: #f00}
.vm-fa-grey {color: #626265}
.vm-fa-green{color: #50C150}
.vm-fa-statusgreen{color: #78cd51}
.dropdown-width{width:100%;}
.label-bold{font-weight: bold;}
.active-menu > a,  .active-menu > a:hover, .active-menu > a:focus {
color: #000000;
background-color: #DFDFDB;
}
/*Z-index is for the popup */
.datepicker {z-index:1051 !important}
.controls label.error {}
