h3 .fa {margin-top: 5px;}
.vm-fa-white {color: white}
.vm-fa-blue {color: #0026ff}
.vm-fa-orange{color: #ff6a00}
.vm-fa-red {color: #f00}
.vm-fa-grey {color: #626265}
.vm-fa-green{color: #50C150}
.vm-fa-statusgreen{color: #78cd51}
.dropdown-width{width:100%;}
.label-bold{font-weight: bold;}
.datepicker {z-index:1051 !important}
.controls label.error {}
.pr10 {
padding-right: 10px;
}
.form-group.error input,
.form-group.error select,
.form-group.error .select2-choice,
.form-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-group.error input:focus,
.form-group.error select:focus,
.form-group.error .select2-choice,
.form-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .vm-menu-setting, .navbar .nav li.dropdown.active>.dropdown-toggle .vm-menu-setting, .navbar .nav li.dropdown.open.active>.dropdown-toggle .vm-menu-setting{
  color: #ffffff,
}

.attendance-green {color: #78CD51}
.attendance-red {color: #D14836}
.attendance-blue {color: #67C2EF}
.attendance-yellow {color: #FABB3D}
.attendance-pink {color: #b94a48}

.vm-status {background-color: #fb5;color:#fff}

 a,a:hover {
    text-decoration: none !important;
    cursor: pointer;
    cursor: hand;
}





