
<div class="row">   
<div class="col-md-8">
<div class="row">
<img src="http://html.webtemplatemasters.com/invento/images/posts-wide/1.jpg" style="width:100%;height:100%;" title="Hero Unit Image"/>
</div>
</div>
<div class="col-md-4">
    <%- partial('../partials/login')%>

</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row"><%- partial('../partials/ad-services')%></div>
<div class="row"><%- partial('../partials/forgotPassword-form')%></div>
    


<script type="text/javascript">
    console.log("Home");
    function Home() {
        //alert("Casestudy");
        $(".vm-protected").hide();
    }
    addLoadEvent(Home);
</script>



