
<div class="row-fluid">   
<div class="span8">
<img src="http://html.webtemplatemasters.com/invento/images/posts-wide/1.jpg" title="Hero Unit Image"/>
</div>
<div class="span4">
    <%- partial('../partials/login')%>
</div>
</div>
<div class="row-fluid">&nbsp;</div>
<div class="row-fluid">&nbsp;</div>
<div class="row-fluid">&nbsp;</div>
<div class="row-fluid"><%- partial('../partials/ad-services')%></div>

<div class="row-fluid"><%- partial('../partials/forgotPassword-form')%></div>
    


<script type="text/javascript">
    console.log("Home");
    function Home() {
        //alert("Casestudy");
        $(".vm-protected").hide();
    }
    addLoadEvent(Home);
</script>



