
<div class="row-fluid">   
<div class="span7">
<%- partial('../partials/box-widget')%>
</div>
<div class="span5">
    <%- partial('../partials/login')%>
</div>
</div>
<div class="row-fluid">
    <div class="span6"><%- partial('../partials/ordered-list')%></div>    
    <div class="span6"><%- partial('../partials/master-list', {'title': 'Business Plans','fnPrefix' : 'fnBizPl'})%></div>
</div>



