<div class="row">    
    <div class="col-md-3">
              <%- partial('../partials/search-attendance', {'title': 'searchAttendance','fnPrefix' : 'searchAttendance'})%>            
    </div>

    <div class="col-md-9">
           <%- partial('../partials/attendance-list', {'title': 'attendanceList','fnPrefix' : 'attendanceList','api':'/employeeattendance','limit': '5'})%>      
    </div>
</div>
<script type="text/javascript">    
    console.log("Attendance");
    function Attendance() {
       
    }
    addLoadEvent(Attendance);
</script>