<div class="row-fluid">    
    <div class="span3">
          <div class="row-fluid">
              <%- partial('../partials/search-attendance', {'title': 'searchAttendance','fnPrefix' : 'searchAttendance'})%>
          </div>        
    </div>

    <div class="span9">
        <div class="row-fluid">
           <%- partial('../partials/attendance-list', {'title': 'attendanceList','fnPrefix' : 'attendanceList','api':'/employeeattendance','limit': '5'})%>
        </div>
    </div>
</div>
<script type="text/javascript">    
    console.log("Attendance");
    function Attendance() {
       
    }
    addLoadEvent(Attendance);
</script>